.profile_picker{
  width: 100%; cursor: pointer;
}
.wrapper{
  display: grid;
  background-color: #8ff17d;
}
ul,
li {
      margin: 0;
      padding: 0;
      list-style: none;
}

#file-label {
      display: inline-flex;
      vertical-align: middle;
      font-size: 12px;
      line-height: 18px;
}

#file-label mat-icon {
      font-size: 18px;
      text-align: center;
}

#file-label a {
      cursor: pointer;
}
