
<!-- ** ____  _____ _   _       ____  ____  _____     _______ *** -->
<!-- * |  _ \| ____| \ | |     |  _ \|  _ \|_ _\ \   / / ____| ** -->
<!-- * | |_) |  _| |  \| |_____| | | | |_) || | \ \ / /|  _|   ** -->
<!-- * |  _ <| |___| |\  |_____| |_| |  _ < | |  \ V / | |___  ** -->
<!-- * |_| \_\_____|_| \_|     |____/|_| \_\___|  \_/  |_____| ** -->
<!-- * ****************************************************** *** -->
<div class="header">
  <h1>{{title}}</h1>
</div>
<div class="clearfix">
  <div class="column menu">
      <!-- Con imagen: -->
      <app-file-upload [imagen]="image" (complete)="refresh($event)"></app-file-upload>
      <!-- Sin imagen: -->
      <app-file-upload (complete)="refresh($event)"></app-file-upload>
  </div>
</div>
<div style="margin-top:1em;" ></div>
